{% set page_title = 'DocumentoGruppo' %}
{% set page_subtitle = '' %}
{% extends '::base.html.twig' %}
{% form_theme edit_form 'MetronicAdminBundle::form/empty.html.twig' %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN SAMPLE TABLE PORTLET-->
        <div class="portlet box grey">
            <div class="portlet-title">
                <div class="caption"><i class="fa fa-money"></i>Modifica Gruppo Documento</div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"></a>
                </div>
            </div>
            <div class="portlet-body">
                {{ form_start(edit_form) }}
                {{ form_rest(edit_form) }}
                {{ form_end(edit_form) }}
            </div>
        </div>
        <!-- END SAMPLE TABLE PORTLET-->
    </div>
</div>
<button class="btn yellow btn-xs" onclick="window.location='{{ path('gestione_tipo-documenti') }}';">Torna indietro</button></a>

{% endblock %}
