/* here you can put your own css to customize and override the theme */

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13-gen-2015, 13.04.55
    Author     : Willy
*/

/***
Header and header elements
***/


/* Navigation */
.header .container .header-navigation {
	font: 19px "PT Sans Narrow", sans-serif;
	letter-spacing: 1px;
	margin:0 auto;

}
.header-navigation > ul > li > a {
	color: #767f88;
	padding: 34px 12px 32px;
}
.header-navigation ul > li.active > a,
.header-navigation ul > li > a:hover,
.header-navigation ul > li > a:focus,
.header-navigation ul > li.open > a,
.header-navigation ul > li.open > a:hover,
.header-navigation ul > li.open > a:focus {
	color: #e02222;
}
.header-navigation .dropdown-menu > li > a:hover,
.header-navigation .dropdown-menu > li.active > a,
.header-navigation .header-navigation-content .header-navigation-col li > a:hover,
.header-navigation .header-navigation-content .header-navigation-col li.active > a {
  color: #fff;
}
.header-navigation ul > li.active > a {
	/*border-bottom: 2px solid #E44F00;*/
	border-bottom: none !important;
}

.header-navigation > ul > li > .dropdown-menu {
	margin-top: -3px;
}
.reduce-header .header-navigation > ul > li > .dropdown-menu {
	margin-top: -3px;
}
.reduce-header .header-navigation > ul > li.dropdown:hover > a:after { 
  bottom: 0;
}
.logo-up {
    z-index:100;
    position:absolute;
    left:250px;
    height:112px;
}
.foto-ann {
    height:600px !important;
    width:100%;
}

@media (max-width: 1200px) and (min-width: 1030px) {
   .logo-up{ 
height:52px;
left:200px;
top:25px;
   }
.foto-ann {
    height:500px !important;
    width:100%;
}
}
.logo-up2 {
    display:none;
    float:left;
    
}
@media (max-width: 1030px) and (min-width: 550px) {
 
   li.sep span {
       display:none;
   }
.foto-ann {
    height:500px !important;
    width:100%;
}
}
@media (max-width: 1030px) {
   .logo-up2{ 
height:80px;
    display:inline;
    margin:0 auto;

   }
    .logo-up{ 
        display:none;
    }
   li.sep span {
       display:none;
   }
   .foto-ann {
    height:300px !important;
    width:100%;
}
}
.nav>li {
  margin: 5px 20px;
}

.ls-l {
    display:none;
}

