<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="{% if app.user.local is defined %}{{ app.user.local }}{% else %}en{% endif %}"> <!--<![endif]-->
    <!-- BEGIN HEAD -->
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}Metronic Frontend{% endblock title %}</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport" />
        <meta content="{% block description %}{% endblock description %}" name="description" />
        <meta content="{% block author %}{% endblock author %}" name="author" />

        {% block meta %}
        {% endblock meta %}
        
        <!-- BEGIN GLOBAL MANDATORY STYLES --> 
        {% block basecss %}
    
        {% endblock %}
      


        <!-- END GLOBAL MANDATORY STYLES --> 
        
        <!-- BEGIN PAGE LEVEL PLUGIN STYLES -->
        
{% block js2 %}
<script src="http://maps.google.com/maps/api/js?sensor=true" type="text/javascript"></script>
{% javascripts  
    '@MetronicFrontendBundle/Resources/public/plugins/fancybox/source/jquery.fancybox.pack.js'
    '@MetronicFrontendBundle/Resources/public/plugins/gmaps/gmaps.js'
    '@MetronicFrontendBundle/Resources/public/scripts/contact-us.js'
%}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %} 
{% endblock %}
{% block js3 %}
    
{% endblock %}
{% block js4 %}
{% javascripts 
 '@CasaFront2Bundle/Resources/public/js/mdr.js'
%}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}

        {% block css %}{% endblock %}
        <!-- END PAGE LEVEL PLUGIN STYLES -->
        
        <!-- BEGIN THEME STYLES --> 
        {% block basecss2 %}
   
        {% endblock %}
        <!-- END THEME STYLES --> 
    <style type="text/css">
        {% block inline_css %}

        {% endblock %}
    </style>

    {% block favicon %}
        {% render(controller("CasaFront2Bundle:Render3:favicon")) %}
    {% endblock %}
</head>
<!-- END HEAD -->

<!-- BEGIN BODY -->
<body class="ecommerce" data-twttr-rendered="true" >
    {% if nocostumizerstyle is not defined or not nocostumizerstyle %}
        {% include "CasaFront2Bundle::layout/content/style_customizer.html.twig" %}
    {% endif %}

    {% block header %}
        {% render(controller("CasaFront2Bundle:Render3:header")) %}
    {% endblock %}

    <!-- BEGIN PAGE CONTAINER -->  
    <div class="page-container">
        <br/><br/>
    

        <!-- BEGIN CONTAINER -->   
        {% block content %}
        {% endblock %}
        <!-- END CONTAINER -->
    </div>
    <!-- END PAGE CONTAINER -->
    {% block footer %}
        {% include "CasaFront2Bundle::layout/footer.html.twig" %}
        {% include "CasaFront2Bundle::layout/copyright.html.twig" %}
    {% endblock %}
    
    {% block basejs %}

    {% endblock %}
    {% block js %}{% endblock %}
    <script>
        {% block inline_js %}{% endblock %}
        {% block analytics %}{% endblock %}
        
           {% block ready_js %}

{% endblock %}
        
    </script>
    </body>
<!-- END BODY -->
</html>
</html>