<!-- BEGIN COPYRIGHT -->
<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-8">
                <p>
                    <!-- <span class="margin-right-10">2013 © Metronic. ALL Rights Reserved.</span> 
                    <a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a> -->
                </p>
            </div>

        </div>
    </div>
</div>
<!-- END COPYRIGHT -->
