<div class="make-switch switch-mini" data-off-label="No >" data-on-label="< Sì">
    <input type="checkbox" class="toggle" name="caratteristica[{{ caratteristica.id }}]" id="{{ caratteristica.idTagPattern }}" value="1" {% if 1 == entity.caratteristica(caratteristica).value %}checked="checked"{% endif %}  />
</div>