<!-- BEGIN STYLE CUSTOMIZER -->
<div class="theme-panel hidden-xs hidden-sm">
    <div class="toggler"></div>
    <div class="toggler-close"></div>
    <div class="theme-options">
        <div class="theme-option theme-colors clearfix">
            <span>{{ 'content.theme.title'|trans({}, "MetronicFrontendLayout") }}</span>
            <ul class="inline">
                <li class="color-blue current color-default" data-style="blue"></li>
                <li class="color-red" data-style="red"></li>
                <li class="color-green" data-style="green"></li>
                <li class="color-orange" data-style="orange"></li>
            </ul>
        </div>
        <div class="theme-option">
            <span>Header</span>
            <select class="header-option form-control input-small">
                <option value="fixed" selected="selected">{{ 'content.theme.elements.fixed'|trans({}, "MetronicFrontendLayout") }}</option>
                <option value="default">{{ 'content.theme.elements.default'|trans({}, "MetronicFrontendLayout") }}</option>
            </select>
        </div>
    </div>
</div>
<!-- END BEGIN STYLE CUSTOMIZER -->  
